@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --font-primary: 'Poppins', sans-serif;
}

body {
    padding: 20px 80px;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: var(--font-primary);
    font-size: 120%;
    color: whitesmoke;
}